.container {
  width: 102%;
  margin-left: -1%;
}

.search {
  box-shadow: 1px 1px 1px #d1d8e0;
  background-color: white;
  margin-top: -16px;
}

#search-box {
  margin-top: 1%;
  margin-left: 2%;
}

.search span {
  margin-top: 1%;
}

.search .col-md-4 {
  margin-top: 2px;
}

.glyphicon-plus, .glyphicon-star-empty {
  font-size: 25px;
}

.side {
  box-shadow: 0px 0px 1px 0px #d1d8e0;
  background-color: white;
  text-align: center;
  margin-top: 2px;
  height: 1200px;
}

.main {
  box-shadow: 0px 0px 1px 1px #d1d8e0;
  background-color: white;
  margin-top: 2px;
  min-height: 800px;
}

.profile, .item {
  border: 1px solid #d1d7e0;
  margin: 5%;
  border-radius: 15px;
}

#username {
  border: none;
  text-align: center;
  font-size: 16pt;
}

.item {
  text-align: center;
  color: black;
}

.item:hover {
  box-shadow: 2px 2px 3px 3px #b3bdcb;
}

#itemName {
  font-size: 15pt;
}

.item p {
  font-size: 12pt;
}

.info, .quote {
  text-align: left;
  border: 1px solid #d1d7e0;
  border-radius: 15px;
  padding: 25px;
  margin: 5%;
}

.info {
  padding-left: 5px;
}

.info h4, .quote h4 {
  text-align: center;
}

#profileImage {
  height: 196px;
  width: 144px;
}

#itemImage {
  height: 296px;
  width: 256px;
  padding: 2%;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
